[submodule "n64-blueretro/components/esp-nimble-cpp"]
	path = n64-blueretro/components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp
[submodule "n64-blueretro/components/ESP32-BLE-Gamepad-idf"]
	path = n64-blueretro/components/ESP32-BLE-Gamepad-idf
	url = https://github.com/JPZV/ESP32-BLE-Gamepad-idf
[submodule "n64-switch/components/Blue-N64-Control-ESP32"]
	path = n64-switch/components/HOJA-LIB-ESP32
	url = https://github.com/JPZV/Blue-N64-Control-ESP32
	branch = prev_version
[submodule "n64-switch/components/BluControl-SDK-ESP32"]
	path = n64-switch/components/BluControl-SDK-ESP32
	url = https://github.com/JPZV/BluControl-SDK-ESP32
[submodule "n64-blueretro/components/BluControl-SDK-ESP32"]
	path = n64-blueretro/components/BluControl-SDK-ESP32
	url = https://github.com/JPZV/BluControl-SDK-ESP32
